
@{
    Layout = null;
    ViewBag.Title = "DangKy";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangKy</title>
</head>
<body>
    <div>
        <h2>Đăng Ký</h2>

        <form action="~/DN/DangKy" method="post">
            <div>
                <label for="fullName">Họ Tên:</label>
                <input type="text" name="fullName" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" />
            </div>
            <div>
                <label for="phone">Số điện thoại:</label>
                <input type="text" name="phone" />
            </div>
            <div>
                <label for="userName">Tên đăng nhập:</label>
                <input type="text" name="userName" />
            </div>
            <div>
                <label for="passWord">Mật khẩu:</label>
                <input type="password" name="passWord" />
            </div>
            <div>
                <label for="retypePassWord">Nhập lại mật khẩu:</label>
                <input type="password" name="retypePassWord" />
            </div>
            <div>
                <input type="submit" value="Đăng Ký" />
            </div>
        </form>
    </div>
</body>
</html>
